<!-- Footer -->
<footer class="text-center text-black shadow" style="background-color: rgba(0, 0, 0, 0.2); margin-top: 16%;">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
        </section>

        <div class="row text-muted" style="margin-top: 4%; line-height: 26px;">
            <div class="col text-start"><strong>About</strong><br>Story<br>Team<br>Founders<br>Our Mission<br>Idea
            </div>
            <div class="col text-start"><strong>Service</strong><br>Plans<br>Pricing<br>Sign Up<br>Careers</div>
            <div class="col text-start"><strong>Application</strong><br>Download Mobile<br>Sign Up<br>Sign Up<br>Sign
                In<br>Your history<br>FAQ's<br>Integrations</div>

            <div class="col text-start"><strong>Support</strong><br>Live Chat<br>Hotline +1231232132123<br>Messages
            </div>
        </div>


        <section class="mb-4 mt-4">
            <p>
                This is the Project from Student, from the Department of Information and Communication Systems
                Engineering
                University of the Aegean
            </p>
            <hr>

            © 2022 Copyright :
            <a class="text-white text-decoration-none" href="/subjects/main"> ICARUS Project</a>
        </section>
        <!-- Section: Text -->


        <!--Grid column-->
    </div>
    <!--Grid row-->
    </section>
    <!-- Section: Links -->
    </div>
    <!-- Grid container -->

</footer>
<!-- Footer -->