<% layout("layouts/boilerplate") %>

    <h1 class="text-center">Αλλαγή Κωδικού Χρήστη</h1>


    <div class=" card shadow mx-auto border-0" style="border-radius: 8px; height: 90%; width: 27%;">
        <form action="/profile/editPassword/<%=user.Id%>?_method=PUT" method="POST" novalidate
            class="validated-form mb-3 mx-auto p-4">

            <div class="mb-4">
                <label class="form-label" for="currentPassword">Τρέχον Κωδικός <%=user.password %> </label>
                <input class="form-control w-100" type="text" id="currentPassword" name="currentPassword" required
                    placeholder="Τρέχον κωδικός χρήστη" style="border-radius: 12px;">
                <div class="valid-feedback">Σωστό!</div>
                <div class="invalid-feedback">Το όνομα χρήστη απαιτείται να έχει από 2 έως 15 χαρακτήρες</div>
            </div>


            <div class="mb-4">
                <label class="form-label" for="newPassword">Νέος Κωδικός </label>
                <input class="form-control w-100" type="text" id="newPassword" name="newPassword" required
                    placeholder="Νέος Κωδικός χρήστη" style="border-radius: 12px;">
                <div class="valid-feedback">Σωστό!</div>
                <div class="invalid-feedback">Το όνομα χρήστη απαιτείται να έχει από 2 έως 15 χαρακτήρες</div>
            </div>


            <button class="btn btn-success w-100" style="border-radius: 12px;">Ανανέωση</button>



        </form>



    </div>