<% layout('layouts/boilerplate')%>


    <div class="card border-0 mt-5" style="margin-bottom: 12%;">

        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card-group">
        <div class="card shadow  m-3 border-0" style="border-radius: 8px;">
            <div class="card-body">
                <h5 class="card-title">Δήλωση μαθημάτων</h5>
                <p class="card-text">Οι εγγεγραμμένοι φοιτητές - χρήστες του συστήματος μπορούν να δηλώσουν τα μαθήματα
                    που επιθυμούν.</p>
                <p class="card-text"><small class="text-muted">Συνολικός αριθμός μαθημάτων</small></p>
            </div>
        </div>
        <div class="card shadow m-3 border-0" style="border-radius: 8px;">
            <div class="card-body ">
                <h5 class="card-title">Ανακοινώσεις</h5>
                <p class="card-text">Ο χρήστες του συστήματος μπορούν να βλέπουν ανακοινώσεις για τα μαθήματα που έχουν
                    δηλώσει. Ακόμα τόσο οι απλοί όσο και οι χρήστες μπορούν να βλέπουν γενικές ανακοινώσεις που αφορούν
                    το τμήμα
                </p>
                <p class="card-text"><small class="text-muted">Τελευταίες ανακοινώσεις</small></p>
            </div>
        </div>
        <div class="card shadow m-3  border-0" style="border-radius: 8px;">
            <div class="card-body">
                <h5 class="card-title">Σημειώσεις</h5>
                <p class="card-text">Οι εγγεγραμμένοι χρήστες μπορούν να βλέπουν σημειώσεις που ανεβάζει ο καθηγητής του
                    εκάστωτε μαθήματος</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>